.service-service {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-bottom-width: 1px;
}
.service-title {
  font-size: 40px;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
.service-image {
  width: 220px;
  height: 240px;
  align-self: center;
  object-fit: contain;
}

@media(max-width: 991px) {
  .service-service {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .service-title {
    font-size: 18px;
    line-height: 16px;
  }
  .service-root-class-name {
    max-width: 100%;
  }
}

.service1-service1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-bottom-width: 1px;
}
.service1-title {
  font-size: 40px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
.service1-image {
  width: 220px;
  height: 240px;
  align-self: center;
  object-fit: contain;
  text-align: center;
}
@media(max-width: 991px) {
  .service1-service1 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .service1-title {
    font-size: 18px;
    line-height: 16px;
  }
}

.service2-service2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-bottom-width: 1px;
}
.service2-title {
  font-size: 40px;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
.service2-image {
  width: 220px;
  height: 240px;
  align-self: center;
  object-fit: cover;
}
@media(max-width: 991px) {
  .service2-service2 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .service2-title {
    font-size: 18px;
    line-height: 16px;
  }
}

.service5-service5 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-bottom-width: 1px;
}
.service5-title {
  font-size: 40px;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
.service5-image {
  width: 220px;
  height: 240px;
  align-self: center;
  object-fit: contain;
}
@media(max-width: 991px) {
  .service5-service5 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .service5-title {
    font-size: 18px;
    line-height: 16px;
  }
}

.service3-service3 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-bottom-width: 1px;
}
.service3-title {
  font-size: 40px;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
.service3-image {
  width: 220px;
  height: 240px;
  align-self: center;
  object-fit: contain;
}
@media(max-width: 991px) {
  .service3-service3 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .service3-title {
    font-size: 18px;
    line-height: 16px;
  }
}

.service4-service4 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-bottom-width: 1px;
}
.service4-title {
  font-size: 40px;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
.service4-image {
  width: 220px;
  height: 240px;
  align-self: center;
  object-fit: cover;
}
@media(max-width: 991px) {
  .service4-service4 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .service4-title {
    font-size: 18px;
    line-height: 16px;
  }
}

.service9-service9 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: center;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
@media(max-width: 991px) {
  .service9-service9 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}

.service6-service6 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: center;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.service6-title {
  font-size: 40px;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
.service6-image {
  width: 220px;
  height: 240px;
  align-self: center;
  object-fit: contain;
}

@media(max-width: 991px) {
  .service6-service6 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .service6-title {
    font-size: 18px;
    line-height: 16px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  background-color: #151515;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-branding {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-company {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.home-items {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text01 {
  text-decoration: none;
}
.home-link {
  text-decoration: none;
}
.home-text02 {
  text-decoration: none;
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-hero {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: center;
  background-color: #151515;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: 93px;
  flex-direction: column;
  padding-bottom: 88px;
}
.home-image {
  width: 409px;
  height: 283px;
  align-self: center;
  object-fit: contain;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 68px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-title {
  color: rgb(255, 255, 255);
  width: 499px;
  height: 91px;
  font-size: 50px;
  max-width: 895px;
  align-self: center;
  text-align: center;
  font-weight: normal;
  line-height: 115px;
  padding-right: 4px;
  text-transform: uppercase;
}
.home-description {
  color: rgb(255, 255, 255);
  width: 515px;
  height: 85px;
  font-size: 24px;
  max-width: 800px;
  align-self: center;
  text-align: center;
  line-height: 36px;
  padding-right: var(--dl-space-space-halfunit);
}
.home-text05 {
  font-style: normal;
  font-weight: 700;
}
.home-link1 {
  display: contents;
}
.home-icon {
  fill: #D9D9D9;
  width: 37px;
  height: 35px;
  align-self: center;
  text-decoration: none;
}
.home-link2 {
  display: contents;
}
.home-icon2 {
  fill: #D9D9D9;
  width: 51px;
  height: 35px;
  align-self: center;
  text-decoration: none;
}
.home-link3 {
  display: contents;
}
.home-icon4 {
  fill: #D9D9D9;
  width: 88px;
  height: 35px;
  align-self: center;
  text-decoration: none;
}
.home-link4 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: Arial;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: none;
}
.home-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container5 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-text06 {
  width: auto;
  font-size: 50px;
  text-align: center;
}
.home-text07 {
  color: #ffffff;
}
.home-text08 {
  color: #ffffff;
}
.home-text09 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
  line-height: 1.5;
}
.home-text10 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
  line-height: 1.5;
}
.home-text11 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
  line-height: 1.5;
}
.home-text12 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
  line-height: 1.5;
}
.home-text13 {
  color: #ffffff;
}
.home-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container8 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text14 {
  color: rgb(255, 255, 255);
  width: auto;
  align-self: center;
  text-align: center;
}
.home-text15 {
  font-size: 50px;
}
.home-text16 {
  font-size: 50px;
}
.home-text17 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text18 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text19 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text20 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text21 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text22 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text23 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text24 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text25 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text26 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text27 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text28 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text29 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text30 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text31 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text32 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text33 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text34 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text35 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text36 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
}
.home-text37 {
  font-size: 30px;
}
.home-text39 {
  color: var(--dl-color-gray-700);
  font-size: 30px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}
.home-description1 {
  width: 100%;
  display: flex;
  max-width: 1280px;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #151515;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: 120px;
  justify-content: flex-end;
  border-top-width: 1px;
}
.home-title1 {
  align-self: center;
  text-align: center;
}
.home-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 900px;
  align-items: flex-start;
  flex-direction: column;
}
.home-text42 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-paragraph {
  font-size: 32px;
  align-self: flex-start;
  text-align: left;
  line-height: 48px;
  padding-left: 5px;
}
.home-featured {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-header1 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  border-color: #151515;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home-link5 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.home-list {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-services {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: 104px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #3c3c3c;
}
.home-header2 {
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  border-bottom-width: 1px;
}
.home-title2 {
  color: var(--dl-color-gray-900);
  font-size: 50px;
  align-self: center;
  text-align: center;
}
.home-grid {
  flex: 1;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: auto auto auto;
}
@media(max-width: 991px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
  }
  .home-header {
    height: 100%;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .home-title {
    font-size: 40px;
    line-height: 36px;
  }
  .home-description {
    font-size: 16px;
    line-height: 24px;
  }
  .home-text03 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-description1 {
    margin-top: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-text42 {
    gap: var(--dl-space-space-unit);
  }
  .home-paragraph {
    font-size: 18px;
    line-height: 27px;
  }
  .home-header1 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-link5 {
    display: none;
  }
  .home-services {
    gap: var(--dl-space-space-threeunits);
    padding-top: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-header2 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-top-width: 1px;
  }
  .home-grid {
    display: flex;
    grid-gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .home-company {
    font-size: 18px;
    line-height: 20px;
  }
  .home-items {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-header {
    padding-bottom: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 479px) {
  .home-header {
    width: 100%;
    height: auto;
  }
  .home-text06 {
    text-align: center;
  }
  .home-text07 {
    text-align: center;
  }
  .home-text14 {
    text-align: center;
  }
  .home-text15 {
    text-align: center;
  }
  .home-text39 {
    text-align: center;
  }
  .home-header2 {
    width: auto;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .home-title2 {
    color: var(--dl-color-gray-900);
    width: auto;
    font-size: 50px;
    align-self: center;
    text-align: center;
    line-height: 1.5;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }
}
