.service9-service9 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: center;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
  border-bottom-width: 1px;
}
.service9-root-class-name {
  opacity: 0;
}
.service9-root-class-name1 {
  opacity: 0;
}
@media(max-width: 991px) {
  .service9-service9 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
